@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

* {
	font-family: 'Nanum Gothic Coding' ,'Nanum Brush Script', sans-serif, serif;
	margin: 0;
	padding: 0;
}
body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.main_nav {
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 20px;
}
.main_section {
	width: 1000px;
	margin: auto;
	margin-top: 30px;
}
.time_select {
	width: 200px;
	margin: auto;
	text-align: center;
	font-size: 1.3em;
}
.main_select {
	padding-left: 12px;
	font-size: 1em;
}
.main_section_div {
	width: 390px;
	margin: auto;
	margin-top: 30px;
	padding-left: 115px;
}
.main_section_div table {
	font-size: 1.1em;
	font-weight: bolder;
}
.main_section_div input {
	width: 35px;
	padding-left: 20px;
}
.main_section_div td {
	padding: 8px 5px;
}
.main_btn {
	width: 200px;
	border: 1px solid black;
	color: black;
	background-color: rgba(0,0,0,0);
	font-size: 1.1em;
}
.main_btn:hover{
	background-color: black;
	color: white;
}
.manager_section { 	
	width: 700px;
	margin: auto;
}
.manager_section table {
	margin-top: 20px;
	padding: 20px;
	background-color: black;
	color: white;
	font-size: 1.1em;
}
.manager_section td {
	padding: 8px 0px;
	border-bottom: 1px solid #bbb;
}